@model IEnumerable<WebApplication_Kaido02.Models.Part>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tanka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeizoYMD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tanka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeizoYMD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartNo })
        </td>
    </tr>
}

</table>
